<div class="container" style="text-align: center;">
  <h1>Rightmove Scrapper</h1>
</div>
<hr>
<div class="container">
  <form action="">
    <div class="form-group">
      <label for="link"><b>Rightmove Link to scrape:</b></label>
      <input type="text" class="form-control" style="width:  600px;">
    </div>
    <div class="checkbox">
      <label for="type"><b>Type of scraping:</b></label>
      <label style="width:  180px;"><input type="radio" name="url_type" value="single"><b> Single Property</b></label>
      <label style="width:  180px;"><input type="radio" name="url_type" value="list"><b> List of Properties</b></label>
    </div>
    <button type="submit" class="btn btn-info btn-md">Start Scraping</button>
  </form>
</div>
<hr>
<div class="container" style="text-align: center;">
  <a class="btn btn-primary btn-sm" style="margin:  10px;" href="http://www.rightmove.co.uk/uk-property-search-a-be.html" target="_blank">UK Properties:</a>
  <a class="btn btn-primary btn-sm" style="margin:  10px;"  href="http://www.rightmove.co.uk/london-property-search-ba.html" target="_blank">London Properties:</a>
</div>

<div class="container" style="text-align: center;">
  <label for="type"><b>Currently scraped from: </b></label>
  <a class="btn btn-success btn-sm" href="http://www.rightmove.co.uk/property-for-sale/Aberdeen-County.html" target="_blank" >Property for sale in Aberdeen County</a>
</div>

<hr>

<div class="container" style="width: 100%!important;">
  <div class="container" style="max-width:  740px;float:  right;">
    <label for="type"><b>Upload Properties:</b></label><input type="file" >
    <label for="type"><b>Download Properties:</b></label>
    <%= link_to download_xls_path(format: "xls"), remote: true do %>
      <label for="type" class="btn btn-sm btn-success"><b>Excel XLS</b></label>
    <% end %>
  </div>
  <% unless @properties.count == 0 %>
    <div class="container" style="width: 140px;float:  left;">
      <label for="type"><b>Properties: <%= @count %></b></label>
    </div>
  <% end %>
</div>

<% unless @properties.count == 0 %>
  <div style="margin: 1%;overflow-x:  scroll;width: 98% !important;border: 1px solid black;">
    <table class="table table-striped" style="border: 1px solid black;">
      <thead>
        <tr>
          <th>Image</th>
          <th>Rightmove ID</th>
          <th>Address</th>
          <th>Asking Price</th>
          <th>Last Sold Price</th>
          <th>Last Sold Price<br>v<br>Asking Price</th>
          <th>Price Change Since<br>Last Extract</th>
          <th>Listed On</th>
          <th>Last Sold Date</th>
          <th>Description</th>
          <th>Beds</th>
          <th>Postal Code</th>
          <th>Street</th>
          <th>Property for</th>
          <th>City</th>
          <th>Link</th>
          <th>Map</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><img src=<%= property.image_url %> height="100" width="120"></td>
            <td><%= property.id_from_rightmove %></td>
            <td><%= property.address %></td>
            <td><%= property.asking_price %></td>
            <td><%= property.last_sold_price %></td>
            <% diff = cal_price_diff(property.asking_price, property.last_sold_price) %>
            <td style="<%= diff.include?('-£') ? 'background-color: pink; color:  red;' : ''%>"><%= diff %></td>
            <td>-</td>
            <td><%= property.listed_on %></td>
            <td><%= property.last_sold_date %></td>
            <td><%= property.description %></td>
            <td><%= property.beds %></td>
            <td><%= property.postal_code %></td>
            <td><%= property.road %></td>
            <td><%= property.property_for %></td>
            <td><%= property.city_name %></td>
            <td><a style="margin:  10px;"  href=<%= property.property_link %> target="_blank"><%= property.property_link %></a></td>
            <td><a style="margin:  10px;"  href="https://maps.google.com/maps?q=<%= property.latitude %>,<%= property.longitude %>&t=k" target="_blank">Map</a></td>
            <td><button class="btn btn-sm btn-danger" type="button">Delete</button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container" style="text-align: center; width: 100%;">
    <%= paginate @properties %>
  </div>
<% end %>


